<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ChannelAdvisorSOAP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <ChannelAdvisorSOAP.Properties.Settings>
      <setting name="ChannelAdvisorSOAP_CA_InventoryService_InventoryService"
        serializeAs="String">
        <value>https://api.channeladvisor.com/ChannelAdvisorAPI/v7/InventoryService.asmx</value>
      </setting>
      <setting name="ChannelAdvisorSOAP_CA_AdminService_AdminService"
        serializeAs="String">
        <value>https://api.channeladvisor.com/ChannelAdvisorAPI/v7/AdminService.asmx</value>
      </setting>
      <setting name="ChannelAdvisorSOAP_Orders_OrderService" serializeAs="String">
        <value>https://api.channeladvisor.com/ChannelAdvisorAPI/v7/OrderService.asmx</value>
      </setting>
      <setting name="ChannelAdvisorSOAP_Fulfillment_FulfillmentService"
        serializeAs="String">
        <value>https://api.channeladvisor.com/ChannelAdvisorAPI/V7/FulfillmentService.asmx</value>
      </setting>
      <setting name="ChannelAdvisorSOAP_Timeout" serializeAs="String">
        <value>1200000</value>
      </setting>
    </ChannelAdvisorSOAP.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.28.0.0" newVersion="1.28.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth.PlatformServices" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.28.0.0" newVersion="1.28.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>